<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        thead {
            background: #f5e8d0;
        }
        td {
            padding: 5px;
            border: 1px solid #333;
        }
        tbody tr:nth-child(even) {
            background: #f0f0f0;
        }
    </style>
</head>

<body>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Delete user</th>
        <th>Change user`s data</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td> <a th:href="@{/users/delete?id={id}(id=${user.id})}" th:text ="Delete"></a>
        <td> <a th:href="@{/users/change?id={id}(id=${user.id})}" th:text ="Change"></a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<!--<a href="/users/new" style="vertical-align: middle">Add user</a>-->
<!--<form>-->
<!--    <p> <button type="button" style="vertical-align: middle">Add user</button> </p>-->
<!--</form>-->

<form  th:method = "GET" th:action="@{/users/new}">
    <input type="submit" value="Add user" />
</form>


<br/>
</body>
</html>